<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&amp;display=swap" rel="stylesheet">

<style type="text/css" media="screen">
    body.dark-theme {
        --pagefind-ui-primary: #eeeeee;
        --pagefind-ui-text: #eeeeee;
        --pagefind-ui-background: #152028;
        --pagefind-ui-border: #152028;
        --pagefind-ui-tag: #152028;
    }
    code {
        font-family: JetBrains Mono, monospace;
        font-size: inherit;
        background: var(--ui-background);
    }
    
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: JetBrains Mono, monospace;
    }
</style>
